{{ define "main" }}
  <div class="mx-auto flex max-w-[90rem]">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" false) }}
    <article class="w-full break-words min-h-[calc(100vh-var(--navbar-height))] min-w-0 pt-4 pb-8 pl-[max(env(safe-area-inset-left),1.5rem)] pr-[max(env(safe-area-inset-left),1.5rem)]">
      <br class="mt-1.5 text-sm" />

      <section id="archive">
   
    {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="arc">
            <h3 class="key">
                {{ .Key }}
            </h3>

            {{ range .Pages }}
                <div class="value">
                  <div class="date">
                      <time datetime="{{ .PublishDate }}">{{ i18n "publishDateShort" . }}</time>
                  </div>
                  <div class="title">
                      <a href="{{ .Permalink }}">
                          {{ .Title }}
                      </a>

                      {{ with .Params.tags }}
                          <div class="tags">
                              {{ range . }}
                              <a class="items-center justify-between gap-2 cursor-pointer rounded px-2 py-1.5 text-sm transition-colors [-webkit-tap-highlight-color:transparent] [-webkit-touch-callout:none] [word-break:break-word]
                              text-gray-500 hover:bg-gray-100 hover:text-gray-900 contrast-more:border contrast-more:border-transparent contrast-more:text-gray-900 contrast-more:hover:border-gray-900 dark:text-neutral-400 dark:hover:bg-primary-100/5 dark:hover:text-gray-50 contrast-more:dark:text-gray-50 contrast-more:dark:hover:border-gray-50" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                        
                              {{ end }}
                          </div>
                      {{ end}}
                  </div>
                </div>
            {{ end }}          
        </div>

    {{ end }}



</section>
</article>
  </div>

{{ end }}
